.column__label {
  position: relative;
}

.column__delimiter {
  width: 3px;
  background: black;
  position: absolute;
  left: calc(100% - 4px);
  top: 0;
}
.column__delimiter:hover {
  cursor: col-resize;
}