.columns__column {
  --active-background-color: rgb(216, 233, 255);
}

.columns__column {
  border: 1px solid var(--border-color);
  font-weight: var(--global-font-weight);
  font-size: 14px;
}

.columns__column.active {
  background-color: var(--active-background-color);
}
.columns__column.active .column__label {
  font-weight: bold;
  color: black;
}

.column__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column__label {
  position: relative;
}

.column__edge-detector {
  width: 5px;
  background: white;  /* do not forget about it */
}

.columns__column.active .column__edge-detector {
  background-color: var(--active-background-color);
}

.column__delimiter {
  width: 3px;
  background: gray;
  position: absolute;

  border-radius: 3px;
}
.column__delimiter.left {
  top: -2px;
  left: 1px;
}

.column__delimiter.right {
  left: calc(100% - 4px);
  top: -2px;
}
.column__delimiter:hover {
  cursor: col-resize;
}
.column__resizer:hover .resizer__line {
  width: 3px;
  border-radius: 3px;
  background: gray;
}
.column__resizer {
  position: absolute;
  /* background: red; */
}
.column__resizer:hover {
  cursor: col-resize;
}