.column__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column__label {
  position: relative;
}

.column__edge-detector {
  width: 5px;
  background: red;
}

.column__delimiter {
  width: 3px;
  background: gray;
  position: absolute;

  border-radius: 3px;
}
.column__delimiter.left {
  top: -2px;
  left: 1px;
}

.column__delimiter.right {
  left: calc(100% - 4px);
  top: -2px;
}
.column__delimiter:hover {
  cursor: col-resize;
}
.column__resizer:hover .resizer__line {
  width: 3px;
  border-radius: 3px;
  background: gray;
}
.column__resizer {
  position: absolute;
  /* background: red; */
}
.column__resizer:hover {
  cursor: col-resize;
}