.cell {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-size: 14px;
  max-width: 95px;
  vertical-align: top;
  padding: 4px;
}
.cell[is-selected] {
  outline: 2px solid rgb(0, 110, 255);
}

.cell[in-selection] {
  background-color: #e7f0fd;
}
.cell[in-selection] * {
  background-color: #e7f0fd;
}

.cell:hover {
  cursor: cell;
}
.cell__container {
  height: 100%;
}
.cell__input {
  caret-color: transparent;
  background: white;
}

.cell__input[is-editing] {
  caret-color: black;
}

.cell__input:focus {
  outline: none;
  cursor: text;
}
