.cell {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-size: 14px;
  max-width: 95px;
}
.cell[is-selected] {
  outline: 2px solid rgb(0, 110, 255);
}

.cell:hover {
  cursor: cell;
}

.cell__input {
  caret-color: transparent;
  background: white;
}

.cell__input[is-editing] {
  caret-color: black;
}

.cell__input:focus {
  outline: none;
  cursor: text;
}
