.columns {
  overflow: scroll;
}

.columns__corner {
  border: 1px solid var(--border-color);
  font-weight: var(--global-font-weight);
  font-size: 14px;
}

.columns__corner {
  width: 40px !important;
}

.columns__corner:hover {
  cursor: pointer;
}
